.Header {
  height: 60px;  
  background-color: powderblue;
}

.Body {
  display: flex;
  flex-direction: row;
  height: 600px;
  background-color: white;
}

.Footer {
  width: 100%;
  height: 100px;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

.rowHeader {
  height: 100%;
}

.rowApp {
  height: 25%;
}

.col, .col-1, .col-2, .col-3, .col-4 {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-secondary {
  background-color: steelblue;
  border-color: steelblue;
}

.BtnImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #495057;
}
.BtnImg:hover {
  background-color: #8e9199;
  color: #ffffff;
  cursor: pointer;
}

.column1 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column2 {
  width: 75%;
}

.textInfo {
  color: white;
  padding-top: 10px;
}

.rowNapDT {
  height: 33%;
}

.buttonNapDT {
  width: 150px;
  height: 150px;
}

.column1NapDT {
  width: 30%;
  display: flex;
  justify-content: center;
}

.column2NapDT {
  width: 70%;
}

.inputDT {
  width: 75%;
  margin-top: 25px;
}
.nav-link {
  cursor: pointer;
}
.nav-item {
  background-color: steelblue;
  color: #ffffff;
}

.nav-item:hover {
  background-color: #6c757d;
} 

.tab-content {
  width: 90%;
}

.formTheDT {
  margin-top: 20px;
  width: 70%;
}

.btnForm {
  width: 100px;
}

.Link {
  color: white;
}

.Link:hover {
  color: white;
  text-decoration: none;
}

.buttonNapTien {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.Navbar {
  margin-top: 20px;
}

.LinkItem {
  color: black;
}

.LinkItem:hover {
  color: steelblue;
  text-decoration: none;
}